@mixin button {
  padding: 10px 16px;
  margin: 4px 2px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@mixin hover_button {
  background-color: $light-red;
  cursor: pointer;
  color: $white;
}

@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)){
      @content;
  }
}

@mixin ipad-only {
  @media screen and (max-width: map-get($breakpoints, ipad)){
      @content;
  }
}

@mixin desktop-only {
  @media screen and (max-width: map-get($breakpoints, desktop)){
      @content;
  }
}
