/**
 * @section Base Styles
 */

body {
  margin: 0 auto;
  width: 1440px;
  background-color: hsl(210, 46%, 95%);
}

h2, p, blockquote, span {
	font-family: 'Barlow Semi Condensed', sans-serif;
}

p, span {
  font-size: 13px;
}


