.log {
  a {
    text-decoration: none;
    margin-right: 30px;
    font-weight: 600;

    &:nth-child(1) {
      color: $white;
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
     opacity: 1;
     text-decoration: underline;
    }

    &:nth-child(2) {
      color: $light-red;
      @include button;
      border-radius: 16px;
      background-color: $white;

      &:hover {
        @include hover_button;
      }
    }
  }
}

.call-to-action {
  font-size: $text;
  font-weight: 600;
  margin-top: 30px;
  a {
    text-decoration: none;
    margin-right: 30px;
    @include button;
    border-radius: 19px;
    margin-right: 10px;

    &:nth-child(1) {
      color: $light-red;
      background-color: $white;
      border: 2px solid $white;

      &:hover {
        @include hover_button;
        border: none;
      }
    }

    &:nth-child(2) {
      background-color: transparent;
      border: 2px solid $white;
      color: $white;

      &:hover {
        background-color: $white;
        color: $light-red;
        cursor: pointer;
      }
    }
  }
}


