.art {
  background-image: url("/svg/bg-pattern-circles.svg"), linear-gradient($very-dark-gray-blue, $very-dark-desaturated-blue);
  background-position: left;
  background-repeat: no-repeat;
  padding: 0rem 7rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 250px;

  &-text {
    width: $width-text;
    color: $white;
  }

  img {
    width: 400px;
  }
}
