.future {
  margin-top: 7rem;
  h2 {
    text-align: center;
    color: $very-dark-blue;
    font-size: 2rem;
    margin-bottom: -3rem;
  }

  &-body {
    padding: 0rem 0rem 3rem 3rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-around;

    &-texts {

      p {
        width: $width-text;
      }

    }

    img {
      width: 600px;
    }
  }

}
