.future {
  margin-top: 7rem;
  h2 {
    text-align: center;
    color: $very-dark-blue;
    font-size: 1.7rem;
    margin-bottom: -3rem;
  }

  &-body {
    padding: 0rem 3rem 3rem 9rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    margin-top: -5rem;
    @include desktop-only {
      margin-top: 5rem;
      padding: 0rem 3rem 5rem 9rem;
    }

    &-texts {
       width: $width-text;
    }

    .img-desktop {
      max-width: 600px;
      @include desktop-only {
        display: none;
      }
    }
    .img-mobile {
      display: none;
      @include desktop-only {
        display: block;
      }
    }
  }

}
