.future {
  margin-top: 7rem;
  h2 {
    text-align: center;
    color: $very-dark-blue;
    font-size: 2rem;
    margin-bottom: -3rem;
  }

  &-body {
    padding: 0rem 0rem 9rem 15rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;

    &-texts {
      width: $width-text;
      min-width: $width-text;
      margin-right: 45px;
    }

    img {
      width: 600px;
    }
  }

}
