.header {
  background-image: url("/svg/bg-pattern-intro.svg"), linear-gradient($very-light-red, $light-red);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 3rem 7rem 3rem 7rem;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $text;
    color: $white;
    font-weight: 600;

    .menu {
      display: flex;
      align-items: center;
      & > * {
        margin-right: 30px;
      }

      .subnav {
        &-content {
          display: none;
        }
      }
    }

  }

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    .title {
      h1 {
        text-align: center;
        color: $white;
        font-size: 3rem;
      }
      p {
        text-align: center;
        color: $white;
        font-size: 16px;
        margin-top: -1rem;
      }
  }

  }
}

