.pc {
  padding: 12rem 10rem 0rem 0rem;
  display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: -6rem;
    justify-content: space-around;

  h2 {
    text-align: center;
    color: hsl(208, 49%, 24%);
    font-size: 2rem;
  }


  &-texts {
    width: $width-text;
    min-width: $width-text;
  }

  img {
    width: 600px;
  }


}
