.pc {
  padding: 5rem 12rem 3rem 7rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  @include desktop-only {
    padding: 5rem 5rem 5rem 3rem;
  }

  @include ipad-only {
    margin-top: 5rem;
    padding: 1rem 1rem 5rem 0rem;
  }

  @include mobile-large {
    flex-direction: column;
    padding: 1rem 1rem 5rem 1rem;
  }

  &-texts {
    width: $width-text;
    @include mobile-large {
      text-align: center;
      width: 100%;
    }

  }

  .img-desktop {
    max-width: 600px;
    @include desktop-only {
      display: none;
    }
  }
  .img-mobile {
    display: none;
    @include desktop-only {
      display: block;
    }
  }


}
